<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de logs</title>
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',  filename='logs.css') }}">
</head>
<body>
    <h1>Registros de Logs</h1>
    <ul>
        {% for log in logs %}
            <li>{{ log['log'] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
